.strike {
    text-decoration: line-through;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50%;
    margin: 20px auto auto auto;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(251, 241, 241);
    height: 100px;
}

h1 {
    width: 90%;
    margin-left: 30px;
    color: rgb(88, 87, 87);
}

.fas {
    color: grey;
    font-size: 24px;
}

.a-spinner {
    width: 10%;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 90%;
}

.line {
    border-bottom: 2px solid rgb(251, 241, 241);
    margin-left: 0px;
    width: 100%;
}

#check-b {
    margin-left: -15px;
    width: 5%;
}

.form-input {
    border-bottom: 2px solid rgb(251, 241, 241);
    width: 100%;
    height: 100px;
}

#input-box {
    border: none;
    padding-bottom: 15px;
    padding-top: 30px;
    font-size: 24px;
    text-align: left;
    margin-left: 30px;
}

#input-box:focus {
    outline: none;
}

#list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn-container {
    width: 100%;
    margin: 5% 0 0 0;
    height: 70px;
    font-size: 24px;
    text-align: center;
    padding: 0;
    color: rgb(129, 123, 123);
}

a {
    text-decoration: none;
}

#item-list {
    width: 90%;
    font-size: 24px;
    text-align: left;
}

#fa-ellipsis-v {
    width: 5%;
}